*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
  font-size: 62.5%;

  /*Variáveis Global*/
  --ff--Staatliches: font-family: 'Staatliches', cursive;
  --ff--Palanquin: font-family: 'Palanquin', sans-serif;
  --ff--roboto: font-family: 'roboto', sans-serif;
  --tf--scale: transform: scale(1.5rem);
}
.page{
  min-width: 38.4rem;
  margin: 0 auto;
}
body{
  font-family: var(--ff--Staatliches);
  background: #EFF1FF;
}

header{
  height: 27.9rem;
  text-align: center;
  background: #8E9AAF;
}
header h2{
  display: none;
}
header img{
  margin-top: 0.9rem;
  margin-bottom: 1rem;

  transition: transform 200ms;
  transition-duration: 700ms;
}
header h1{
  width: 100%;
  font-family: var(--ff--Staatliches);
  font-weight: 700;
  font-size: 4.8rem;
  line-height: 3.4rem;

  padding: 0.9rem 0;

  background-color: #cbc0d3;

  text-align: center;
  color: #FFFFFF;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}
main{
  padding: 1.4rem 3.2rem 6rem;
}
main h2{
  font-family: var(--ff--Palanquin);
  font-weight: 400;
  font-size: 2rem;
  line-height: 1.5rem;
  
  margin-top: 1.4rem;
  margin-bottom: 6.3rem;

  color: #23053A;
}
.wrapper{
  display: grid;
  gap: 3.2rem;
}

.cards{
  position: relative;
}
.cards p{
  position: absolute;
  z-index: 1;
  
  right: 1.8rem;
  top: 1.7rem;

  width: 11.2rem;
  height: 3.5rem;

  background: #FEEAFA;
  border-radius: 2rem;

  font-family: var(--ff--Staatliches);
  font-weight: 400;
  font-size: 2rem;
  line-height: 3.4rem;


  color: #4A4E69;
  letter-spacing: 0.05em;

  padding: 0.4rem 2.4rem;

  animation-name: topdown;
  animation-duration: 2000ms;
}
.cards img{
  width: 100%;
  object-fit: cover;
  border-radius: 8px;

  animation-name: downtop;
  animation-duration: 1000ms;
}
header img:hover{
  transform: scale(1.1);
}
footer{
  display: none;
}
.cards:nth-child(5), .cards:nth-child(6){
  display: none;
}

/*Animação*/

@keyframes topdown{
  0%{
    opacity: 0;
    transform: translateY(-3.5rem);
  }
  50%{
    opacity: 0;
  }
  100%{
    opacity: 1;
    transform: translateY(0rem);

  }
}
@keyframes downtop{
  0%{
    opacity: 0;
    transform: translateY(-5.1rem);
  }
  100%{
    opacity: 1;
    transform: translateY(0);
  }
}
@media(min-width:600px){
  .page {
    min-width: 100vw;
    margin: 0 auto;
    display: flex;
    justify-content: center;
  }
  body{
    display: flex;
  }
  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 6.4rem 2rem 3rem;
  }
  main p {
    display: none;
  }
  header {
    min-width: 37.7rem;
    height: 100vh;
  } 
  header h1{
    width: 37.7rem;
    height: 7rem;

    padding-top: 1.5rem;
  } 
  header h2{
    width: 27rem;
    height: 26rem;
    font-weight: 400;
    font-size: 2.4rem;
    margin: 3.2rem auto 0;
   
    font-family: var(--ff--roboto);
    color: #ffffff;
    display: block;
    
  }
  main h2{
    display: none;
  }
  .wrapper{
    display: grid;
    grid-template-areas: 
      "A B"
      "D B"
      "D C";
  }
  .cards:nth-child(1){
    grid-area: A;
  }
  .cards:nth-child(2){
    grid-area: B;
  }
  .cards:nth-child(3){
    grid-area: C;
  }
  .cards:nth-child(4){
    grid-area: D;
  }
  footer{
    display: initial;
    font-family: 'Open Sans',sans-serif;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 2.8rem;

    text-align: center;
    color: #4A4E69;
    mix-blend-mode: normal;
  }
}
@media(min-width: 1200px){
   .cards img {
    max-width: 30.7rem;
  }
  .wrapper{
    display: grid;
    grid-template-areas: 
      "A B E"
      "D B F"
      "D C F";
    gap: 3.2rem;
    margin: 6.4rem 8.1rem 0 9.8rem;
  }
  .cards:nth-child(5), .cards:nth-child(6){
    display: initial;
  }
  .cards:nth-child(1){
    grid-area: A;
  }
  .cards:nth-child(2){
    grid-area: B;
  }
  .cards:nth-child(3){
    grid-area: C;
  }
  .cards:nth-child(4){
    grid-area: D;
  }
  .cards:nth-child(5){
    grid-area: E;
  }
  .cards:nth-child(6){
    grid-area: F;
  }
}